
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

.formContainer {
  width: 350px;
  background-color: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 5px;
}

.checkBox {
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  font-weight: bold;
}

.form-row {
  align-items: center;
  justify-content: center;
  text-align: left !important;
}

.row {
  margin: 0 !important;
}

.mr {
  margin-right: 4px;
}

.form-check .form-check-input {
  float: none !important;
  margin-left: -1.5em;
}

.checkBox label {
  margin-left: 3px !important;
}

input[type='radio'] {
  width: 14px !important;
  height: 14px !important;
  margin: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  /* outline: 1px solid gray; */
  box-shadow: none;
  font-size: 0.8em;
  text-align: center;
  line-height: 1em;
  /* background: rgb(0, 28, 170); */
}

input[type='radio']:checked:after {
  /* content: '✔'; */
  color: white;
}

.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.customBtn {
  height: 100% !important;
}

.customMargin {
  margin-top: 10px;
}

.form-label {
  margin-bottom: -0.5rem !important;
  margin-top: 1.0em;
}

.headerDiv {
  text-align: center;
  height: 30px;
}

.footerDiv {
  text-align: center;
  height: 30px;
}

.colFix {
  width: 95% !important;
}

.fomrCheck {
  background-color: blue !important;
}